body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh; 
    border: 4px solid white;
    border-radius: 10px;
    overflow: hidden;
    background-color: #7094db;
    font-family: Arial, sans-serif;
    margin: 20px;
    
}

h1 {
    color: #0a0a0a;
}

h2 {
    color: #000000;
}

p {
    color: #fdfcfa;
    line-height: 1.5;
}

li {
    color: #f8f8f8; 
    margin-bottom: 8px; 
}

a {
    text-decoration: none; 
    color: indigo; 
}